{% extends "./base.html" %}
{% block title %} Gestion de Alumnos {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm12 col-md-6 col-lg-4 col-xl-4">
            <h2>Crear Alumno</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/registrarAlumno/" method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="txtCodigo" id="txtCodigo" class="form-control" placeholder="Ingrese el código" minlength="3" maxlength="12" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtNombre" id="txtNombre" class="form-control" placeholder="Ingrese el nombre" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtApellido" id="txtApellido" class="form-control" placeholder="Ingrese el Apellido" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm12 col-md-6 col-lg-8 col-xl-8">
            <h1>Listado de Alumnos</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in alumnos %}
                        <tr>
                            <td>{{a.codalu}}</td>
                            <td>{{a.nomalu}}</td>
                            <td>{{a.apealu}}</td>
                            <td><a href="/modificarAlumno/{{a.codalu}}" class="btn btn-info">Editar</a></td>
                            <td><a href="/eliminarAlumno/{{a.codalu}}" class="btn btn-danger">Borrar</a></td>
                            <td><a href="/PromediosAlumno/{{a.codalu}}" class="btn btn-danger">Promedios</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}